<font size="3" color="696866">{{ author.bio }}</font>
<br>
<h4>Contact Me</h4>
{% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank">Email</a>{% endif %}
{% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="author-social" target="_blank">Twitter</a>{% endif %}
{% if author.linkedin %}<a href="http://linkedin.com/in/{{ author.linkedin }}" class="author-social" target="_blank">LinkedIn</a>{% endif %}
{% if author.github %}<a href="http://github.com/{{ author.github }}" class="author-social" target="_blank">Github</a>{% endif %}