// Common elements styling

// main width of the content

div#main{
    width: 50%;
    margin: auto;
}

.content {
    line-height: 1.5em;
}

// navigation bar

.navigation-wrapper {
    background-color: $nav-bg;
    padding: 16px 16px 16px 16px;
}

.site-name {
    float: left; 
}

.top-navigation {
    width: 50%;
    margin: auto;
    font-size: 14;

    ul {
        position: relative;
        margin-top: -1.5em;
        padding-left: 0px;
    }

    li {
        list-style: none;
        float: right;
    }

}

// Blockquotes

blockquote {
    margin: 0em 1em 0em 2em;
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
    background: $code-bg;
}

// home picture and content
.hero-picture {
    max-width: 45%;
    max-width: 45%;

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
}

#home-content {
    float: right;
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

// Blog css

.link-posts{

    h2 {
        margin-bottom: 4px
    }


    #excerpt {
        font-size: 14;
        font-style: italic;
    }

    #dates {
        font-size: 10;
        font-style: italic;
    }
}

// Links - Global

a:link {
    font-weight: light;
    color: $unrd-links;
    // text-decoration: none;
}

a:hover {
    color: $hovr-links;
}

a:visited {
    color: $read-links;
    text-decoration: none;
}

a:active {
    color: $actv-links;
}

// inline-code - Global

code {
    color: $code-text;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background: $code-bg;
}
