// Code Spacing
$code-spacing: 0.30px;

// Colors
// -- navigation
$nav-bg: #ffffff;
$nav-fcolor: #000000;
// -- highlighter/blockquote colors
$code-bg: #b5c3c3;
$code-text: #000000;
// -- links
$actv-links: #e61212;
$hovr-links: #e61212;
$unrd-links: #000000;
$read-links: #3c5d5d;
// -- byline
$byline-col: #5f3f1f;
