---
# only main files contain this front matter, not partials.
---

@import "typography";
@import "variables";
@import "highlighter";
@import "common";
@import "blog";

p img{
    margin-left: -10%;
    max-width: 120%;
    max-height: 20%;
    width: auto;
    height: auto;
}

