---
# only main files contain this front matter, not partials.
---

@import "typography";
@import "variables";
@import "highlighter";

div#main{
    width: 50%;
    margin: auto;
}

.navigation-wrapper {
    background-color: $nav-bg;
    padding: 16px 16px 16px 16px;
}

.site-name {
    float: left; 
}

.top-navigation {
    width: 50%;
    margin: auto;
    font-size: 14;

    ul {
        position: relative;
        margin-top: -1.5em;
        padding-left: 0px;
    }

    li {
        list-style: none;
        float: right;
    }

    li a {
        text-align: center;
        color: $nav-fcolor;
    }
}

h1 {
    font-family: $base-font;
}

body {
    font-family: $base-font;
}

p img{
    margin-left: -10%;
    max-width: 120%;
    max-height: 20%;
    width: auto;
    height: auto;
}

