---
# only main files contain this front matter, not partials.
---

@import "typography";
@import "variables";
@import "highlighter";

.content {
    width: 50%;
    margin: auto;
}

.page-title {
    width: 50%;
    margin: auto;
}

h1 {
    font-family: $base-font;
}

body {
    font-family: $base-font;
}
