<head>
{% include head.html %}
{% include analytics.html %}
{% include navigation.html %}
</head>

<body class="body" id="blog-index">
    <div id="main" role="main">
        <div class="page-title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="page">
            {% for post in site.posts limit:10 %}
            {% if post.categories contains 'blog' %}
            <div class="content" id="index-posts">
                {% if post.link %}
                <div class="link-posts">
                    <h2>
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                            {{ post.title }}
                        </a>
                    </h2>
                </div> 
                {% else %}
                <div class="link-posts">
                    <h2>
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                        {{ post.title }}
                        </a>
                    </h2>
                </div>
                {% endif %}
            </div><!-- index-posts -->
            {% endif %}
            {% endfor %}
        </div><!-- page -->
    </div><!-- main -->
    <div class="footer wrap">
    </div><!-- /.footer-wrap -->
</body>
</html>


<!-- <div id="main" role="main"> -->
<!--   <div class="article-author-side"> -->
<!--   	<a href="{{page.link}}"><h1>{{ page.title }}</h1></a> -->
<!--     <div class="article-wrap"> -->
<!--       {{ content }} -->
<!--     </div><1!-- /.article-wrap --1> -->
<!--   </div> -->
<!--   <div id="index"> -->
<!--     {% for post in site.posts limit:10 %} -->
<!-- 	{% if post.categories contains 'blog' %} -->
<!--     <article> -->
<!--       {% if post.link %} -->
<!--         <class="link-post"><h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i><font size="3" color="696866" style="italic"> | <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></font></h2></class> -->
<!--       {% else %} -->
<!--         <class="post"><h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><dates><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></dates></h2></class> -->
<!-- 		<p>{{ post.excerpt | strip_html | truncate: 160 }}</p> -->
<!--       {% endif %} -->
<!--     </article> -->
<!-- 	{% endif %} -->
<!--     {% endfor %} -->
<!--   </div><1!-- /#index --1> -->
<!-- </div><1!-- /#main --1> -->

<!-- <div class="footer-wrap"> -->
<!-- </div><1!-- /.footer-wrap --1> -->

<!-- </body> -->
<!-- </html> -->
