<head>
{% include head.html %}
{% include analytics.html %}
{% include navigation.html %}
</head>

<body class="body" id="blog-index">
    <div id="main" role="main">
        <div class="page-title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="page">
            {% for post in site.posts limit:10 %}
            {% if post.categories contains 'blog' %}
            <div class="content" id="index-posts">
                {% if post.link %}
                <div class="link-posts">
                    <h2 id="post-title">
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                            {{ post.title }}
                        </a>
                    </h2>
                </div> 
                {% else %}
                <div class="link-posts">
                    <h2>
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                        {{ post.title }}
                        </a>
                    </h2>
                    <div id="excerpt">
                        {{ post.excerpt }}
                    </div>
                </div>
                {% endif %}
            </div><!-- index-posts -->
            {% endif %}
            {% endfor %}
        </div><!-- page -->
    </div><!-- main -->
    <div class="footer wrap">
    </div><!-- /.footer-wrap -->
</body>
</html>
