<head>
{% include head.html %}
{% include analytics.html %}
{% include navigation.html %}
</head>

<body class="body" id="post">
    <div id="main" role="main">
        <div class="page-title">
            <h1>{{ page.title }}</h1>
            <p class="byline">
            Published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.modified %}
            and  last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>
            {% endif %}</p>
        </div>
        <div class="page">
            <div class="content">
                {{ content }}
            </div><!-- content -->
        </div><!-- page -->
    </div><!-- main -->
    <div class="footer wrap">
    </div><!-- /.footer-wrap -->
</body>
</html>

<!-- {% if page.image.feature %} -->
<!--   <div class="image-wrap"> -->
<!--   <img src= -->
<!--     {% if page.image.feature contains 'http' %} -->
<!--       "{{ page.image.feature }}" -->
<!--     {% else %} -->
<!--       "{{ site.url }}/images/{{ page.image.feature }}" -->
<!--     {% endif %} -->
<!--   alt="{{ page.title }} feature image"> -->
<!--   {% if page.image.credit %} -->
<!--     <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span> -->
<!--   {% endif %} -->
<!--   </div><1!-- /.image-wrap --1> -->
<!-- {% endif %} -->

<!-- <div id="main" role="main"> -->
<!--   <div class="article-author-side"> -->
<!-- 	<h1><font size="3" color="696866">{{page.date | date: "%b %d, %Y" }}</font></h1> -->
<!-- 	<div class="tags-in-post"> -->
<!--          <font size="2"><a href="{{site.url}}/tags"><b>Tags:</b></a>  <span class="entry-tags">{% for tag in page.tags %}{{ tag }}{% unless forloop.last %}{% endunless %}{% endfor %}</span></font> -->
<!-- 	</div> -->	
<!--   </div> -->
<!--   <article class="post"> -->
<!-- 	<div class="headline-wrap"> -->
<!--       {% if page.link %} -->
<!--         <h1><a href="{{ page.link }}">{{ page.title }}</a></h1> -->
<!--       {% else %} -->
<!--         <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1> -->
<!--       {% endif %} -->
<!--     </div><! --headline-wrap --1> -->
<!-- 	<hr> -->
<!--     <div class="article-wrap"> -->
<!--       {{ content }} -->
<!-- 	  <hr> -->
<!--       <footer role="contentinfo"> -->
<!--         <div class="article-author-bottom"> -->
<!--         </div> -->
<!--       </footer> -->
<!--     </div><1!-- /.article-wrap --1> -->
<!--   </article> -->
<!-- </div><1!-- /#main --1> -->

<!-- <div class="footer-wrap"> -->
<!--   <div class="related-articles"> -->
<!--   <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4> -->
<!--     <ul> -->
<!--     {% for post in site.related_posts limit:3 %} -->
<!--       <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li> -->
<!--     {% endfor %} -->
<!--     </ul> -->
<!--     <hr /> -->
<!--   </div><1!-- /.related-articles --1> -->
<!-- </div><1!-- /.footer-wrap --1> -->

<!-- </body> -->
<!-- </html> -->
