<head>
{% include head.html %}
{% include analytics.html %}
{% include navigation.html %}
</head>

<body class="body" id="post">
    <div id="main" role="main">
        <div class="page-title">
            <h1>{{ page.title }}</h1>
            <p class="byline">
            Published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.modified %}
            and  last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>
            {% endif %}</p>
        </div>
        <div class="page">
            <div class="content">
                {{ content }}
            </div><!-- content -->
        </div><!-- page -->
    </div><!-- main -->
    <div class="footer wrap">
    </div><!-- /.footer-wrap -->
</body>
</html>
